body{
    font-size:15px;
    font-family: Helvetica, sans-serif;
    color:#333;
}
.page{
}
/*top-bar*/
.top-wrapper{
    height:64px;
}
.top-bar{
    background:#D43C33;
    display: flex;
    padding:18px 10px 16px 10px;
    justify-content:space-between;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    z-index:3;
}
.top-bar > .logo{
    margin: 2px 0;
}
.top-bar > .logo svg{
    width:142px;
    height:25px;
    vertical-align: top;
}
.top-bar > .download{
    color:white;
    position:relative;
    padding:0 10px;
    line-height:30px;
    top:-1px;
}
.top-bar > .download::after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid white;
    border-radius:30px;
    transform:scale(0.5);
    transform-origin:0 0;
}

/*tabs-control*/
.tabs-wrapper{
    height: 39.5px;

}
.tabs-control{
    position: fixed;
    left:0;
    width:100%;
    top:64px;
    background:white;
    z-index:3;
}
.tabs-control ol{
    position:relative;
    display: flex;
    text-align:center;
}
.tabs-control ol::after{
    content:'';
    display: block;
    position:absolute;
    left:0;
    bottom:0;
    width:200%;
    border-bottom:1px solid rgba(0,0,0,.2);
    transform: scale(.5);
    transform-origin: 0 0;
}
.tabs-control ol li{
    width:33.33333%;
    line-height:35px;
    color:#333;
    padding:2.5px 0 0;
}
.tabs-control ol li.active{
   color:#d33a31;
}
.tabs-control ol li div{
    padding:0 5px;
    display: inline-block;
}
.tabs-control ol li.active div{
    border-bottom:2px solid #d33a31;
}

/*tabs-content1*/
.tabs-content1{
    display: none;
    background:#FCFCFD;
}
.tabs-content1.active{
    display: block;
}
/*推荐歌单*/
.recommend-list{
    padding-top:18px;
}
.recommend-list > .recommend-head {
    padding-left:9px;
    position:relative;
    /*margin-bottom:15px;*/
}
.recommend-list > .recommend-head::before{
    content:'';
    display: block;
    width:2px;
    height:16px;
    background: #d33a31;
    position:absolute;
    left:0;
    top:55%;
    transform:translateY(-50%);
}
.recommend-list > .recommend-head h2{
    font-size:17px;
    color:#333;
}
.recommend-list > ol.lists{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:14px;
}
.recommend-list > ol.lists li{
   max-width:calc(33.3333% - 2px);
    margin-bottom:16px;
    position:relative;
}
.recommend-list > ol.lists li img{
    max-width:104.5px;
    vertical-align:middle;

}
.recommend-list > ol.lists li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size:13px;
    padding:6px 2px 0 6px;
    line-height:1.2;
}
.recommend-list > ol.lists li span{
    position:absolute;
    right:5px;
    top:2px;
    color:white;
    font-size:12px;
}
.recommend-list > ol.lists li span i{
}
.recommend-list > ol.lists li span i svg{
   width:11px;
    height:10px;
}
/*最新音乐*/
.new-music{
    margin-top:21px;
}
.new-music .new-head{
    margin-bottom:12px;
}
.new-music .new-head h2{
    font-size:17px;
    position:relative;
    padding-left:9px;
}
.new-music .new-head h2::before{
    content:'';
    display: block;
    position:absolute;
    left:0;
    top:55%;
    transform:translateY(-50%);
    background:#d33a31;
    width:2px;
    height:16px;
}
.new-music ul.new-lists{}
.new-music ul.new-lists li{
    padding-left:10px;
    display: flex;
    justify-content: space-between;
    position:relative;
}
.new-music ul.new-lists li .music-item{
   padding:6px 0;
}
.new-music ul.new-lists li::after{
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    transform:scale(.5);
    width:200%;
    height:200%;
    transform-origin: 0 0;
    border-bottom:1px solid rgba(0,0,0,.2);
}

.new-music ul.new-lists li .music-item{
    width:268px;
}
.new-music ul.new-lists li h2{
    font-size:17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:1px 0;
}
.new-music ul.new-lists li h2 span{
    color:#888;
    margin-left:4px;
}
.new-music ul.new-lists li p{
    font-size:12px;
    color:#888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:1px 0;
}
.new-music ul.new-lists li p i{
    width:12px;
    height:8px;
    margin-right:-2px;
    vertical-align: middle;
    margin-left:-3px;
}
.new-music ul.new-lists li p i.hidden {
    display: none;
}
.new-music ul.new-lists li p i.active svg{
    width:18px;
    height:12px;
    vertical-align: bottom;
}
.new-music ul.new-lists li .play {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-music ul.new-lists li .play svg{
   width:22px;
    height:22px;
    margin-right:10px;
    vertical-align: middle;
}
/*footer*/
.footer{
    display: flex;
    flex-direction:column;
    align-items:center;
    background:url('http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922') no-repeat center;
    background-size:cover;
}
.footer .bottom-logo{
    margin-top:43px;
    width:230px;
}
.footer .button{
    border:1px solid #d33a31;
    color:#d33a31;
    font-size:16px;
    padding:9px 21px;
    border-radius:20px;
    margin-top:14px;
}
.footer p.copyright{
    font-size:12px;
    transform:scale(.75);
    color:#888;
}


/*....................第二个页面..................*/
.tabs-content2{
    display: none;
}
.tabs-content2.active{
    display: block;

}
/*热歌榜*/
.tabs-content2 .hot-banner{
   background: transparent url('http://s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee') no-repeat center;
    padding-left:20px;
    padding-top:.1px;
    padding-bottom:16px;
    /*position:relative;*/
}
/*.tabs-content2 .hot-banner::after{*/
    /*content:'';*/
    /*display: block;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background: rgba(202,202,203,.2);*/
    /*z-index:0;*/
/*}*/
.tabs-content2 .hot-banner .hot-notice{
   background: url('https://i.loli.net/2017/08/22/599c513e4c3f0.png') no-repeat -24px -30px;
    width:142px;
    height:67px;
    background-size:166px 97px;
    margin-top:15px;
}
.tabs-content2 .hot-banner .date{
   font-size:12px;
    margin-top:10px;
    color: rgba(255,255,255,.8);
    transform:scale(.91);
    transform-origin: 0 0;
}
/*热歌列表*/
.tabs-content2 .hot-lists{
    background:#fcfcfd;
}
.tabs-content2 .hot-lists li{
    display: flex;
    justify-content:space-between;
    padding-left:10px;
    align-items:center;
}
.tabs-content2 .hot-lists li .item-play-wrap{
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.tabs-content2 .hot-lists li .item-play-wrap::after{
   content:'';
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    /*height:200%;*/
    width:200%;
    border-bottom:1px solid rgba(0,0,0,.1);
    transform: scale(.5);
    transform-origin:0 0;
}
.tabs-content2 .hot-lists .order{
    font-size:17px;
    width:28px;
    margin-top:1px;
    color:#999;
}
.tabs-content2 .hot-lists li:first-child .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists li:nth-child(2) .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists li:nth-child(3) .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists .hot-item{
    width:240px;
    padding:5.5px 0;
}
.tabs-content2 .hot-lists .hot-item h2{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size:17px;
    padding:1px 0;
    /*line-height:25px;*/
}
.tabs-content2 .hot-lists .hot-item h2 span{
    color:#888;
}
.tabs-content2 .hot-lists .hot-item p{
    font-size:12px;
    color:#888;
    padding:1px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tabs-content2 .hot-lists .hot-item p i{
    width:12px;
    height:8px;
    margin-right:-2px;
    vertical-align: middle;
    margin-left:-3px;
    display: none;
}
.tabs-content2 .hot-lists .hot-item p i.active{
    display: inline;
}
.tabs-content2 .hot-lists .hot-item p i svg{
    display: none;
}
.tabs-content2 .hot-lists .hot-item p i.active svg{
    display: inline;
    width:18px;
    height:12px;
    vertical-align:bottom;
}
.tabs-content2 .hot-lists .hot-play{
    padding:0 10px;
}
.tabs-content2 .hot-lists .hot-play svg{
    width:22px;
    height:22px;
}
.tabs-content2 .whole-list{
    color:#999;
    font-size:14px;
    text-align: center;
    background:#fcfcfd;
}
.tabs-content2 .whole-list span{
    display: inline-block;
   line-height: 55px;
    padding-right:3px;
}
.tabs-content2 .whole-list i svg{
   width:7px;
    height:12px;
    vertical-align: middle;
}

/*.....................第三个页面.....................*/
.tabs-content3{
    display: none;
}
.tabs-content3.active{
    display: block;
}

