body{
    font-family: Helvetica, sans-serif;
}
.page{
    /*background:transparent url('http://p3.music.126.net/nfAuKY8Gx5V3kFhzlc9c5w==/17756013277324793.jpg') no-repeat;*/
    background-size:cover;
    display: flex;
    flex-direction:column;
    min-height:100vh;
    position: relative;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.othercenter{
    display: flex;
    justify-content:center;
    align-items:center;
}
.page::after{
    content:'';
    display: block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.5);
    z-index:0;
}
.disc-container{
    position:relative;
    z-index:1;
}
.disc-container .pointer{
    position:absolute;
    top:0;
    left:44.8%;
    z-index:1;

}
.disc-container .pointer img{
   width: 26.25vw;
   height: 35vw;
}
.disc-container .disc{
    position:relative;
    /* display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center; */
    margin-top: 16.25vw;
    height: 77.5vw;
}
.disc-container .disc .icon-wrap{
    /* position:absolute; */
    z-index:1;
    width: 15.625vw;
    height: 15.625vw;
    border:1px solid white;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.4);
}
.disc-container .disc .icon-play{
    display: none;
}
.disc-container .disc .icon-pause{
    display: flex;
}
.disc-container.pause .disc .icon-play{
    display: flex;
}
.disc-container.pause .disc .icon-pause{
    display: none;
}
.disc-container .pointer{
    transform-origin: 0 0;
    transform:rotateZ(0deg);
    transition: transform .5s ease;
}
.disc-container.pause .pointer{
   transform: rotateZ(-20deg) ;
}
.disc-container .disc .icon{
    /*position: absolute;*/
    fill:white;
    width: 5.625vw;
    height: 5.625vw;
    /*z-index:2;*/
}
.disc-container .disc .ring{
    display: block;
    width: 77.5vw;
    margin:0 auto;
}
.disc-container .disc .light{
    /* position:absolute; */
    width: 77.5vw;
    animation: circling 20s linear infinite;
    animation-play-state: running;
}
.disc-container.pause .disc .light{
    animation-play-state: paused;
}
.disc-container .disc .center-image{
    width: 46.875vw;
    border-radius:50%;
    animation: circling 20s linear infinite;
    animation-play-state: running;
    z-index:2;
    height: 46.875vw;
}
.disc-container.pause .disc .center-image{
    animation-play-state: paused;
}

.lyrics{
    text-align:center;
    padding:0 10.9375vw;
    margin-top: 6.875vw;
    z-index:1;
}
.lyrics .lyric-head{
    font-size: 4.6875vw;
    color:#fefefe;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.lyrics .lyric-head > span{
    color: hsla(0,0%,100%,.6);
    font-size: 4.0625vw;
}
.lyrics .lyric-content{
   margin-top: 4.0625vw;
    height: 22.5vw;
    overflow:hidden;
}
.lyrics .lyric-content .lyric-moving{
    transition:transform .3s linear;
}
.lyrics .lyric-content p{
    font-size: 4.0625vw;
    color:rgba(255,255,255,.6);
    line-height: 5.9375vw;
    padding-bottom: 1.5625vw;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.lyrics .lyric-content p.lyric-now{
    color:white;
}

.links{
    /*display: flex;*/
    /*justify-content: center;*/
    position:absolute;
    left:50%;
    bottom: 3.125vw;
    transform:translateX(-50%);
    width:100%;
    z-index:1;
}
.links > .wrapper{
    display: flex;
    justify-content: center;
}
.links .open{
    color:#d43b32;
    font-size: 4.6875vw;
    border:1px solid #d43b32;
    padding:2.1875vw 13.125vw;
    border-radius: 1.25vw;
}
.links .download{
    font-size: 4.6875vw;
   background:#d43b32;
    color:white;
    padding:2.1875vw 13.125vw;
    border-radius: 1.25vw;
    margin-left: 3.75vw;
}


@keyframes circling{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotateZ(0deg)
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotateZ(360deg)
    }
}
@-webkit-keyframes circling {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
