body{
    font-family: Helvetica, sans-serif;
    background:#FBFCFD;
    position:relative;
    height:100vh;
}
.page{
    position:relative;
}
.page.hidden{
    visibility:hidden;
}
.ellipsis{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
/*art-head*/
.art-head{
    position:relative;
    padding-bottom:67.8%;
    overflow:hidden;
    z-index:1;
}
.art-head img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:-1;
}
.art-head .name{
    position:absolute;
    bottom: 2.1875vw;
    font-size: 5.3125vw;
    color:red;
    left: 4.6875vw;

}

/*summary*/
.summary{
    padding:3.125vw 4.6875vw 0;
    position:relative;
}
.summary p{
    font-size: 4.375vw;
    color:#666;
}
.summary svg.icon{
    position:absolute;
    right:5%;
    bottom:-4.6875vw;
    width: 4.6875vw;
    height: 4.6875vw;
    fill:#BFBFC0;
}
.summary svg.down{
    display: none;
}
.summary svg.down.active{
    display: inline-block;
}
.summary svg.up{
    display: none;
}
.summary svg.up.active{
    display: inline-block;
}
/*hot-songs*/
.hot-songs{
    margin-top: 5.625vw;
    margin-bottom: 20.625vw;
}
.hot-songs > h3{
    font-size: 3.75vw;
    background:#EEEFF0;
    padding:0 3.125vw;
    color:#666;
    line-height: 7.1875vw;
}
.hot-songs > ul{}
.hot-songs > ul li{}
.hot-songs > ul li a{
    display:flex;
    align-items:center;
}
.hot-songs a .number{
    line-height: 17.1875vw;
    width: 12.5vw;
    font-size: 5.3125vw;
    color:#999;
    text-align:center;
}
.hot-songs a .list-play-wrap{
    display: flex;
    flex-grow:1;
    align-items:center;
    position:relative;
    padding:2.5vw 0;
}
.hot-songs a .list-play-wrap::after{
    content:'';
    display: block;
    position:absolute;
    left:0;
    bottom:0;
    width:200%;
    border-bottom:1px solid rgba(0,0,0,.1);
    transform:scale(.5);
    transform-origin:0 0;
}
.hot-songs a .list-item{
    flex-grow:1;
}
.hot-songs a .list-item h3{
    font-size: 5.3125vw;
    color:#333;
}
.hot-songs a .list-item p{
    font-size: 3.75vw;
    color:#888;
}
.hot-songs a .play{
    padding:0 3.125vw;
}
.hot-songs a .play > svg{
    width: 6.875vw;
    height: 6.875vw;
    vertical-align:middle;
}
/*bottom-bar*/
.bottom-bar{
    padding:2.1875vw 0;
    /*text-align:center;*/
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    max-width:100%;
    background:white;

}
.bottom-bar .download-wrap{
    text-align:center;
}
.bottom-bar .download1{
    color:white;
    background:#D43B32;
    display: inline-block;
    line-height: 9.375vw;
    padding: 1.5625vw 21.875vw;
    border-radius: 12.5vw;

}
.bottom-bar .download1 svg{
    display: inline-block;
    width: 7.1875vw;
    height: 7.1875vw;
    vertical-align: middle;
}


/*loading*/
.loading{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
